{% load staticfiles %}
{% load website_extras %}
<ul class="nav nav-tabs">
    <li class="active"><a href="#tableView" data-toggle="tab" aria-expanded="true">Table View</a></li>
    <li class=""><a href="#graphView" data-toggle="tab" aria-expanded="false">Graph View</a></li>
</ul>
<div id="gameTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="tableView">
        <div class="row">
            <div class="col-md-12">
                <h3>Team Statistics</h3>
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th title="Team">Team</th>
                            <th title="On-Ice Goals For Total">GF</th>
                            <th title="On-Ice Shots-On-Goal For Total">SF</th>
                            <th title="Missed Shots For">MSF</th>
                            <th title="Blocked Shots">BSF</th>
                            <th title="Corsi For Total">CF</th>
                            <th title="On-Ice Scoring Chances For Total">SCF</th>
                            <th title="On-Ice High-Danger Scoring Chances For Total">HSCF</th>
                            <th title="Offensive Zone Starts">ZSO</th>
                            <th title="Hits">HIT</th>
                            <th title="Penalties">PN</th>
                            <th title="Faceoffs Won">FO_W</th>
                            <th title="Time On Ice">TOI</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in teamData %}
                        <tr>
                            <td><img height="17" width="17" src='{% with 'images/team/'|add:team.team.abbreviation|add:'.png' as image_static %}{% static image_static %} {% endwith %}'><a href="/teams/{{ team.team.id }}">{{ team.team.abbreviation }}</td>
                            <td>{{ team.gf }}</td>
                            <td>{{ team.sf }}</td>
                            <td>{{ team.msf }}</td>
                            <td>{{ team.bsf }}</td>
                            <td>{{ team.cf }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ team|getkey:"hit+" }}</td>
                            <td>{{ team.pn }}</td>
                            <td>{{ team.fo_w }}</td>
                            <td>{{ team.toi }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h3>Goalie Statistics</h3>
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th title="Name">Name</th>
                            <th title="Team">Team</th>
                            <th title="Unknown-Danger Goals">GU</th>
                            <th title="Unknown-Danger Saves">SU</th>
                            <th title="Low-Danger Goals">G.L</th>
                            <th title="Low-Danger Saves">S.L</th>
                            <th title="Medium-Danger Goals">G.M</th>
                            <th title="Medium-Danger Saves">S.M</th>
                            <th title="High-Danger Goals">G.H</th>
                            <th title="High-Danger Saves">S.H</th>
                            <th title="Time On Ice (Minutes)">TOI</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for goalie in game.goalieStats %}
                            <tr>
                                <td>{{ goalie.player.fullName }}</td>
                                <td><img height="17" width="17" src='{% with 'images/team/'|add:goalie.team.abbreviation|add:'.png' as image_static %}{% static image_static %} {% endwith %}'><a href="/teams/{{ goalie.team.id }}">{{ goalie.team.abbreviation }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12 table-responsive">
                <h3>Away Players</h3>
                {% with tid="awayPlayers" players=game.awayPlayers %}
                {% include "playbyplay/game_player_table.html" %}
                {% endwith %}
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12 table-responsive">
                <h3>Home Players</h3>
                {% with tid="homePlayers" players=game.homePlayers %}
                {% include "playbyplay/game_player_table.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="graphView">
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
    </div>
</div>