{% extends "wrappers/wrapper.html" %}
{% load staticfiles %}
{% block page_css %}
    <link href="{% static "DataTables/datatables.min.css" %}" rel="stylesheet">
    <link href="{% static "MultiSelect/css/multi-select.css" %}" rel="stylesheet">
    <link href="{% static "datepicker/css/datepicker.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well bs-component">                     
                    
                    <h4 class="filter-options" data-toggle="collapse" data-target="#gamesFilter">
                        Filter Options
                        <img class="filter-collapsed" height="20" width="20" style="float: right"src="/static/images/forward-arrow.svg ">
                    </h4>
                    <form id="gamesFilter" class="collapse" action="/games/" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                {{ form.teams.label_tag }}                             
                                {{ form.teams }}
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form.date_start.label_tag }} 
                                        {{ form.date_start }}
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-4">
                                {{ form.seasons.label_tag }}                             
                                {{ form.seasons }}
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form.date_end.label_tag }} 
                                        {{ form.date_end }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">                            
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form.venues.label_tag }}                             
                                        {{ form.venues }}
                                    </div>
                                </div>
                                <br />
                                <div class="row">                              
                                    <div class="col-md-12">
                                        <div class="form-group session-checkbox">
                                            {{ form.game_type.label_tag }}                             
                                            {{ form.game_type }}
                                        </div>                                 
                                    </div>
                                </div>
                                <br />
                                <div class="row">                              
                                    <div class="col-md-12">
                                        <div class="form-group text-right">
                                            <input type="reset" class="btn btn-danger btn-sm"></input>
                                            <input type="submit" href="#" class="btn btn-primary btn-sm"></input>
                                        </div>                                 
                                    </div>
                                </div>
                            </div>                       
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div id='tableLoading' class="col-md-6 col-md-offset-3">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        Fetching Data
                    </div>
                </div>
            </div>
            
            <div id="gamesTableContainer" class="col-md-12" style="display: none;"></div>
        </div>
    </div>
{% endblock %}
{% block page_js %}
    <script>
        $(document).ready(function() {
            $('#gamesSelect').multiSelect();
            $('#id_teams').multiSelect();
            $('#id_seasons').multiSelect();
            $('.datepicker').datepicker();

            $.ajax({
              url: "/games/game_list_table/"
            }).done(function(data) {

                $('#tableLoading').toggle();
                $('#gamesTableContainer').toggle();

                $('#gamesTableContainer').html(data);
                $('#gamesList').DataTable({
                    "iDisplayLength": 15,
                    "order": [
                        [0, "desc"]
                    ],
                    responsive: true,
                    aLengthMenu: [[10, 15, 25, 50, -1], [10, 15, 25, 50, "All"]],
                    fixedHeader: {
                        header: true,
                    },
                    dom: 'lfrtiBp',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf'
                    ]
                });
            });

            $('input[type=reset]').click(function(e) {
                $("#id_seasons").multiSelect('deselect_all');
                $("#id_teams").multiSelect('deselect_all');
            });
            $('#gamesFilter').submit(function(e) {

                $('#gamesTableContainer').toggle();
                $('#tableLoading').toggle();
            
                $.ajax({
                    data: $(this).serialize(),
                    url: "/games/game_list_table/"
                }).done(function(data) {
                    $('#gamesTableContainer').html(data);
                    $('#gamesList').DataTable({
                        "iDisplayLength": 15,
                        "order": [
                            [0, "desc"]
                        ],
                        responsive: true,
                        aLengthMenu: [[10, 15, 25, 50, -1], [10, 15, 25, 50, "All"]],
                        fixedHeader: {
                            header: true,
                        },
                        dom: 'lfrtiBp',
                        buttons: [
                            'copy', 'csv', 'excel', 'pdf'
                        ]
                    });
                    $('#tableLoading').toggle();
                    $('#gamesTableContainer').toggle();
                
                });

                e.preventDefault();
            });
            $('.filter-options img').click(function(e) {
                var icon = $(e.target);
                if (icon.hasClass('filter-collapsed')) {
                    $(e.target).removeClass('filter-collapsed');
                    $(e.target).addClass('filter-expanded');
                } else {
                    $(e.target).removeClass('filter-expanded');
                    $(e.target).addClass('filter-collapsed');
                }
            })
    
        });
    </script>
    <script src="{% static "DataTables/datatables.min.js" %}"></script>
    <script src="{% static "MultiSelect/js/jquery.multi-select.js" %}"></script>
    <script src="{% static "datepicker/js/bootstrap-datepicker.js" %}"></script>
{% endblock %}