/* 
	Main CSS file for FLS.com
*/
.fls-logo {
	height: 79px;
	margin-top: -20px;
}
.ms-container {
    margin: auto;
}
h3.filter-options {
    margin-top: 0px;
}
h3.away-team {
    margin-bottom: 0px;
}
h3.home-team {
    margin-top: 0px;
}
.session-checkbox li {
    display: inline;
    text-decoration: none;
    width: 50%;
    float: left;
}
.session-checkbox li label {
    font-weight: normal;
}

#ms-id_teams {
    width: 300px;
}
#ms-id_seasons {
    width: 300px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}

.innerline {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.opacityfifty {
    opacity: 0.5;
}

